
.submit{
  border:none;
  cursor: hand;
  color:#000;
  width:90%;height:40px;line-height:40px;border-radius:4px;
  background: rgb(254,231,154);
  font-size:22px;
  padding:5px 20px;
  height:45px;
  background: -moz-linear-gradient(top,  rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
  background: -webkit-linear-gradient(top, rgba(254,231,154,1) 0%, rgba(254,193,81,1) 100%);
  
}
.submit:hover{
  background: rgb(254,193,81);cursor:hand;
  background: -moz-linear-gradient(top,  rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
  background: -webkit-linear-gradient(top, rgba(254,193,81,1) 0%, rgba(254,231,154,1) 100%);
}
a {text-decoration: none;color:#000;}
input,select,option,.submit:focus { outline:none;}